In [1]:
import numpy as np
import pandas as pd

import statsmodels.api as sm  #(To access mtcars dataset)
mtcars = sm.datasets.get_rdataset("mtcars", "datasets", cache=True).data

mtcars.iloc[1:4, 2:3] = np.NaN

mtcars.iloc[1:4, 3:4] = "NA"

mtcars.iloc[1:4, 4:5] = ""

mtcars["None_col"] = None

mtcars.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,None_col
rownames,,,,,,,,,,,,
Mazda RX4,21.0,6,160.0,110,3.9,2.620,16.46,0,1,4,4,None
Mazda RX4 Wag,21.0,6,NaN,NA,,2.875,17.02,0,1,4,4,None
Datsun 710,22.8,4,NaN,NA,,2.320,18.61,1,1,4,1,None
Hornet 4 Drive,21.4,6,NaN,NA,,3.215,19.44,1,0,3,1,None
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,None