In [1]:

import pandas as pd

# Starting with "wide" data
data = pd.DataFrame({"character": ["Goku","Vegeta", "Nappa","Gohan","Piccolo"],
                     "uniform color": ["orange", "blue", "black", "orange", "purple"],
                     "saiyan": [12000, 16000, 4000, 1500, 3000],
                     "frieza": [150000000, 3000000, 4000, 75000, 1200000],
                     "cell": [1000000000, 1000000000, 4000, 2000000000, 300000000],
                     "buu": [4000000000, 2500000000, 4000, 5000000000, 500000000]})

data

  character uniform color  saiyan     frieza        cell         buu
0      Goku        orange   12000  150000000  1000000000  4000000000
1    Vegeta          blue   16000    3000000  1000000000  2500000000
2     Nappa         black    4000       4000        4000        4000
3     Gohan        orange    1500      75000  2000000000  5000000000
4   Piccolo        purple    3000    1200000   300000000   500000000

# Gather multiple columns with df.melt()
# Gathers into key column - value column pairs

In [2]:
data = data.melt(id_vars = ["character", "uniform color"],# Columns to keep (not gathered)
          value_vars = ["saiyan","frieza","cell","buu"],  # Columns to gather
          var_name = "saga",                              # Name of new gathered column
          value_name = "power level")                     # Name of new value column

data

   character uniform color    saga  power level
0       Goku        orange  saiyan        12000
1     Vegeta          blue  saiyan        16000
2      Nappa         black  saiyan         4000
3      Gohan        orange  saiyan         1500
4    Piccolo        purple  saiyan         3000
5       Goku        orange  frieza    150000000
6     Vegeta          blue  frieza      3000000
7      Nappa         black  frieza         4000
8      Gohan        orange  frieza        75000
9    Piccolo        purple  frieza      1200000
10      Goku        orange    cell   1000000000
11    Vegeta          blue    cell   1000000000
12     Nappa         black    cell         4000
13     Gohan        orange    cell   2000000000
14   Piccolo        purple    cell    300000000
15      Goku        orange     buu   4000000000
16    Vegeta          blue     buu   2500000000
17     Nappa         black     buu         4000
18     Gohan        orange     buu   5000000000
19   Piccolo        purple     buu    500000000